/* Estilos iniciais para o site Vortex */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p.slogan {
    font-style: italic;
    color: #ccc;
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de imagem para redimensionamento e responsividade */
article img {
    width: 75%;
    max-width: 500px;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}

h2 {
    color: #333;
}

em {
    color: #777;
}
